.level {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 20px;
}

.info {
  color: var(--infoColor, #1e90ff);
}

.debug {
  color: var(--debugColor, #808080);
}

.trace {
  color: var(--traceColor, #d3d3d3);
}

.warn {
  color: var(--warningColor);
}

.error {
  color: var(--dangerColor);
}

.fatal {
  color: var(--purple);
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 45px;
}
